:root {
    --background: #0a0d0f;
    --item: #212a31;
    --subitem: #29343d;
    --theme: #bbe4ff;

    background-color: var(--background);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > h3 {
    font-weight: normal;
    text-align: center;
}

button {
    font-family: inherit;
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title img {
    width: 5rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5rem;
    color: var(--theme);
}

.domains {
    display: grid;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    max-width: 60rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.domains > div {
    background-color: var(--item);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1 1 1rem;
    cursor: pointer;
    outline: 1px solid transparent;
    outline-offset: 2px;
    transition: filter 0.2s ease-in-out, outline 0.1s ease-in-out;
}

.domains > div:hover {
    filter: brightness(1.1);
    outline: 1px solid var(--theme);
}

.domains .domain h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    max-width: 90%;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

.domains .domain img {
    width: 2rem;
    margin: 0.5rem 0;
}

.domains div .domain {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
}

.domains div .difficulty.hard {
    background-color: #ff4558;
}

.domains div .difficulty.medium {
    background-color: #d77b22;
}

.domains div .difficulty.easy {
    background-color: #32a558;
}

.domains div .difficulty.unknown {
    background-color: var(--subitem);
}

.domains div .difficulty.impossible {
    background-color: var(--background);
}

.domains div .difficulty {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1.25rem;
    border-radius: inherit;
}

.domains div .difficulty p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.domains div .difficulty p:nth-child(2) {
    font-weight: bold;
    font-size: 1rem;
    text-align: end;
}

.popup-title, .popup-text {
    margin: 0;
    color: white;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--subitem);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    font-family: inherit;
}

.buttons button:hover {
    filter: brightness(1.1);
}

.credits {
    margin-top: 3rem;
    font-size: 1rem;
    text-align: center;
}

a {
    color: var(--theme);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

tr {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid var(--subitem);
}

tr:last-child {
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
}

tr.delete {
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--item);
}

::-webkit-scrollbar-thumb {
    background: var(--subitem);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--subitem);
}